<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ids.mercury" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name="com.ids.mercury.controller.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true" >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:name=".controller.Activities.ActivityLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityNotifications"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityFeedback"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityPaymentHistory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityGiftCard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityGuestPass"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityBuyExtraGuest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityReferFriends"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityInsideCsrRules"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name=".controller.Activities.ActivitySendSmsEmail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityCsr"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name=".controller.Activities.ActivityProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityLoyalityPoints"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityRenewMembership"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityClasses"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name=".controller.Activities.ActivitySuggestedClasses"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name=".controller.Activities.ActivityInsideClasses"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityAcademies"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityAcademyDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityMembershipStatus"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".controller.Activities.ActivityHistory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityHome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivitySuccess"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".controller.Activities.ActivityRentCourt"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.ids.mercury.controller.Activities.ActivitySplash"
            android:screenOrientation="portrait" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Notifications.MyFirebaseMessagingService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>